node_modules
cpp/build
cpp/builddraco
cpp/bdeformation
cpp/deformation/third_party
cpp/bunny.*
third/
packages/mjdraco/index.css
packages/mjdraco/index.css.map
packages/mjdraco/src/assets/*.drc
cpp/entt/build



*.swp
