node_modules
build
_deps
install

cpp/build
cpp/build/target
cpp/cad/build
cpp/cad/_deps
cpp/draco/draco
cpp/draco/build
cpp/entt/build
cpp/entt/entt
cpp/opengl/build
cpp/opengl/_deps
cpp/bgfx/_deps
cpp/bgfx/build
cpp/bgfx/install
cpp/solvespace/solvespace
third/
packages/mjdraco/index.css
packages/mjdraco/index.css.map
packages/mjdraco/src/assets/*.drc


.tool-versions
*.swp
tags
